$mobile: "(min-width: 320px) and (max-width: 767px)";
$tablet: "(min-width: 768px) and (max-width: 1023px)";
$desktop: "(min-width: 1024px)";

.title {
    font-family: 'MaisonNeueDemi', Arial, Helvetica, sans-serif;
    text-align: center;
    color: #FFF;
    
    @media #{$mobile} {
        font-size: 24px;
        line-height: 35px;
    }
    @media #{$tablet}{
        font-size: 36px; 
        line-height: 47px;
    }
    @media #{$desktop}{
        font-size: 59px;
        line-height: 70px;
    }
}
.wrapper {
    background-color: #000;
    height: calc(100% - 80px);
    padding: 5% 8%;
}
.presentation, .projects{
    text-align: center;
    padding: 7% 8%;

    p{
        display: inline-block;
        width: 60%;
    }
    @media #{$mobile} {
        padding: 3rem 1.5rem;

        p{
            width: 100%;
        }
    }
    @media #{$tablet}{
        padding: 3rem 1.5rem;
        
        p{
            width: 100%;
        }
    }
    @media #{$desktop}{
        padding: 7% 8%;
    }
}

.titleStyles {
    font-size: 22px;
    text-transform: uppercase;
}

.presentationImg {
    display: block;
    margin: 0 auto;
    width: 80%;

    @media #{$mobile} {
        width: 100%;
    }
    @media #{$tablet} {
        width: 100%;
    }

}



/*
.wrapper {

    @media #{$mobile} {
        transform: translate(0,2%);
    }
    @media #{$tablet}{
        transform: translate(0, 10%);   
    }
    @media #{$desktop}{
        transform: translate(0%, 20%);
    }

    p{
        a{
            font-family: 'MaisonNeueDemi', sans-serif;
            color: #3A1C71;
            text-decoration: none;
            list-style-type: none;
            background-image: none;
        }
        a:hover {
            color: #FF6C45;
        }
    }

}*/
