$mobile: "(min-width: 320px) and (max-width: 767px)";
$tablet: "(min-width: 768px) and (max-width: 1023px)";
$desktop: "(min-width: 1024px)";

/* Main Colors */

.yellow {
    color: #FEDA01;
  }
  .blue {
    color: #2961FF;
  }
  .red {
    color: #EF4832;
  }
  .orange {
    color: #F99F00;
  }
  .light-blue {
    color: #91D3ED;
  }
  .lilac {
    color: #D9C3ED;
  }

  /* Hover effects 
  .lilac:hover {
    color: transparent;
    -webkit-text-stroke: 2px #D9C3ED;
    
  }
  .light-blue:hover {
    color: transparent;
    -webkit-text-stroke: 2px #91D3ED;
  }
  .orange:hover {
    color: transparent;
    -webkit-text-stroke: 2px #F99F00;
  }
  .red:hover {
    color: transparent;
    -webkit-text-stroke: 2px #EF4832;
  }
  .blue:hover {
    color: transparent;
    -webkit-text-stroke: 2px #2961FF;
  }
  .yellow:hover {
    color: transparent;
    -webkit-text-stroke: 2px #FEDA01;
  }*/

//SVG Source
#circle{
stroke:#FFF48D;
}


.title {
    font-family: 'MaisonNeueDemi', Arial, Helvetica, sans-serif;
    text-align: center;
    color: #FAFAFA;
    margin: 0;
    cursor: default;
    
    @media #{$mobile} {
        font-size: 24px;
        line-height: 35px;
    }
    @media #{$tablet}{
        font-size: 36px; 
        line-height: 47px;
    }
    @media #{$desktop}{
        font-size: 52px;
        line-height: 68px;
        transform: translateY(-40px);
    }
}
.wrapper {
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23ffffff' fill-opacity='0.09'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    padding: 5% 15%;
    min-height: calc(100vh - 80px);
    position: relative;
    //centrar el texto hero
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}/*
.wrapper::after {
    content: "";
    background-image: url(../../static/right_bg.svg), url(../../static/left_bg.svg);
    background-position: top right, bottom left;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}*/

.wrapper > * {
    z-index: 10;
}

.presentation {
    display: flex;
}

.presentation, .projects, .skills{
    text-align: center;
    //padding: 7% 8%;

    p{
        display: inline-block;
        width: 75%;
        margin-bottom: 0px;
    }
    @media #{$mobile} {
        padding: 3rem 1.5rem;

        p{
            width: 100%;
        }
    }
    @media #{$tablet}{
        padding: 3rem 1.5rem;
        
        p{
            width: 100%;
        }
    }
    @media #{$desktop}{
        //padding: 7% 8%;
        margin: 10% 8%;
    }
}

.titleStylesh2 {
    font-family: 'MaisonNeueDemi', Arial, Helvetica, sans-serif;
    font-size: 36px;
}
.titleStylesh3 {
    font-family: 'MaisonNeueDemi', Arial, Helvetica, sans-serif;
    font-size: 24px;
    text-transform: uppercase;
}

.presentationImg {
    width: 70%;
    margin: 0px auto;

    @media #{$mobile} {
        width: 100%;
    }
    @media #{$tablet} {
        width: 100%;
    }

}

.presentationImgContainer, .presentationText {
    width: 50%;
}

.presentationText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.color-custom {
    color: #91D3ED;
}

.subTitle {
    font-family: 'MaisonNeueBook', Arial, Helvetica, sans-serif;
    font-size: 32px;
    line-height: 36px;
}

/*
.wrapper {

    @media #{$mobile} {
        transform: translate(0,2%);
    }
    @media #{$tablet}{
        transform: translate(0, 10%);   
    }
    @media #{$desktop}{
        transform: translate(0%, 20%);
    }

    p{
        a{
            font-family: 'MaisonNeueDemi', sans-serif;
            color: #3A1C71;
            text-decoration: none;
            list-style-type: none;
            background-image: none;
        }
        a:hover {
            color: #FF6C45;
        }
    }

}*/
