.posts {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    flex-wrap: wrap;
    max-width: 1200px;
    min-height: 800px;
    margin: 80px auto;
}

.post-title {
    background-color: #000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23ffffff' fill-opacity='0.09'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    color: #FFF;
    text-align: center;
    padding: 4rem 2rem;
    margin: 0;
}

.post {
    margin: 1rem 0rem;
    width: 50%;

    a{
        color: #000;
        display: flex;
        flex-direction: column;
        padding: 1rem;
        text-decoration: none;
        text-align: center;
    }
    h2{
        font-family: 'MaisonNeueDemi', Arial, Helvetica, sans-serif;
        font-size: 1rem;
        margin-bottom: 0;
    }
    p{
        font-family: 'MaisonNeueBook', Arial, Helvetica, sans-serif;
        margin-top: .5rem;
        color: #777;
        font-size: .8rem;
        line-height: 1rem;
    }
}

.post .img-post {
    height: 450px;
    margin-bottom: 20px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0, 0, 0, 0.158);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.img-post:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0, 0, 0, 0.178);
}

.img-post[dataname="openMarket"] {
    background-image: url(../../static/openMarket.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.img-post[dataname="shopCart"] {
    background-image: url(../../static/shopCart.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.img-post[dataname="carpoolingApp"] {
    background-image: url(../../static/carpoolingApp.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.img-post[dataname="myRoutes"] {
    background-image: url(../../static/myroutes.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.img-post[dataname="rcdhotels"] {
    background-image: url(../../static/rcdHotels.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

@media (max-width:768px) {
    .post {
        width: 100%;
    }
    .post .img-post {
        height: 250px;
    }
    .img-post[dataname="openMarket"] {
        background-position: 75% center;
    }
}