.footer {
    border-top: 1px solid #e1dce9;
    margin-top: 3rem;
    margin: 0 1rem;
    padding-top: .5rem;
    display: flex;
    justify-content: space-between;

    p{
        font-size: .8rem;
        margin: 0;
        color: #C3B9D3;
    }
}

.social {
    a {
        background-image: none;
        text-decoration: none;
        margin-left: .5rem;

        img {
            margin: 0;
            opacity: .3;

        }
        img:hover {
            opacity: 1;
        }
    }
}