.footer {
    background-image: url(../../static/footerImg.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
   
    margin: 0;
    padding: 2rem 5rem;
    margin-top: 4.5rem;

    h2 {
        font-family: 'MaisonNeueDemi', Arial, Helvetica, sans-serif;
        color: #FAFAFA;
        margin-top: 1.45rem;
        margin-bottom: 0;
    }


    p{
        font-family: 'MaisonNeueBook', Arial, Helvetica, sans-serif;
        font-size: .8rem;
        color: #C3B9D3;
        margin: 0rem 0 1rem;
    }
}

.logo {
    img {
        height: 30px;
        width: auto;
        margin-bottom: 0;
        display: flex;
    }
}

.social {
    margin-top: 1.5rem;
    a {
        background-image: none;
        text-decoration: none;
        margin-right: .5rem;
        

        img {
            margin: 0;
            opacity: 0.8;

        }
        img:hover {
            opacity: 0.5;
        }
    }
}

.contact {
    font-family: 'MaisonNeueDemi', Arial, Helvetica, sans-serif;
    color: #FAFAFA;
    font-size: 1.2rem;
    text-shadow: none;
}
.contact:hover{
    color: #2961FF;
}

@media (max-width: 768px) {
    .footer {
        padding: 1rem 2rem;
        margin-top: 3rem;
    }

}