.header {
    width: 100%;
    padding: 1rem 10%;
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
    background: #000;
    position: absolute;
    top: 0;
    left: 0;
    /*border-top: 3px solid #D9C3ED;*/
    z-index: 9999;
}

.logo {
    a {
       text-shadow: none;
       background-image: none;
    }
    img {
        height: 30px;
        width: auto;
        margin-bottom: 0;
        display: flex;
    }
}
.header .nav-list {
    list-style: none;
    display: flex;
    margin: 0;
}
.nav-list li {
    margin-bottom: 0;
}
.nav-item {
    font-family: 'MaisonNeueBook';
    color: #FFFFFF;
    text-shadow: none;
    font-size: 1rem;
    margin-right: 1.5rem;
    text-decoration: none;
    background-image: none;
    text-transform: capitalize;
    cursor: pointer;
}
.nav-item:hover {
    color: #D9C3ED;
}
.active-nav-item {
    color: #D9C3ED;
    font-weight: 600;
}


/* Menu Button */
.header .menu-icon {
    display: none;
    cursor: pointer;
    display: inline-block;
    position: relative;
    user-select: none;
}
.header .menu-icon .navicon {
    background: #fff;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
}
.header .menu-icon .navicon:before, .header .menu-icon .navicon:after {
    background: #fff;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
.header .menu-icon .navicon::before {
    top: 5px;
}
.header .menu-icon .navicon:after {
    top: -5px;
}
/* Menu Button Animation */
.header .menu-btn {
    display: none;
}
.header .menu-btn:checked ~ .nav-list {
    max-height: 240px;
}
.header .menu-btn:checked ~ .menu-icon .navicon{
    background: transparent;
}
.header .menu-btn:checked ~ .menu-icon .navicon:before{
    transform: rotate(-45deg);
}
.header .menu-btn:checked ~ .menu-icon .navicon:after{
    transform: rotate(45deg);
}
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

@media (max-width:768px) {
    .header {
        padding: 1rem;
    }
    .header .menu-icon  {
        display: flex;
    }
    .header nav {
        box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
        position: absolute;
        top: 70px;
        right: 0;
        background: #fff;
        z-index: 5;
        width: 100%;
        opacity: 0;
        transition: all .2s ease-out;
    }
    .nav-item {
        color: #000;
    }
    .header .nav-list {
        flex-direction: column;
        padding: 1rem;
        padding-bottom: 2rem;
    }
    .nav-list li {
        margin-bottom: 1rem;
    }
    .header .menu-btn:checked ~ nav {
        opacity: 1;
        top:80px;
    }
}